#Launch files
build/
devel/
install/

#Python files 
__pycache__/
*.pyc
*.pyo
*.pyd
__pycache__/
.history/
test/build/
test/log/
test/install/

#Ros config files
log/

#VS files
.vscode/
.idea/
*.swp

#Dependencies 
venv/
*.egg-info/
*.eggs/
pip-log.txt

#History folder
.history/

